<% var page='dp_simulation' ; %>
<%- include('../common/head') %>

<body>

	<%- include('../common/head', {page: page}) %>
	<%- include('../common/topbar', {page: page}) %>
	<%- include('../common/leftbar', {page: page}) %>
	<%- include('../common/rightbar', {page: page}) %>
	<%- include('../common/bottombar', {page: page}) %>

	<div id="popup_instr">
		<h2>Instructions</h2>
		<h4>hello hi 123</h4>
		<p id="search" class="execAction" onclick=closeInstr()>Close</p>
	</div>

	<div id="graphsvg"></div>

	<script src="code_expl.js"></script>
	<script src="dp_data.js"></script>
	<script src="dp_functions.js"></script>
	<script src="dp_matlist.js"></script>
	<script src="dpvis.js"></script>

</body>