<% var page='graph_interaction' ; %>
<%- include('../common/head') %>

<body>

    <%- include('../common/head', {page: page}) %>
	<%- include('../common/topbar', {page: page}) %>
	<%- include('../common/leftbar', {page: page}) %>
	<%- include('../common/rightbar', {page: page}) %>
	<%- include('../common/bottombar', {page: page}) %>

	<div id="popup_instr">
		<h2>Instructions</h2>
		<h4>
			The panel on the right includes, in order:
			<br> - Audio Guide
			<br> - Visual Guide
			<br> - Menu
			<br> - Instructions Pane
			<br> - Pseudocode
			<br>All of the above correspond to the Graph data structure.
			<br><br>
			The audio and visual guides provide a brief description of the graph data structure, its working, applications and links to relevant resources.
			<br><br>
			The menu is composed of the following features:
			<br><b>Add Node</b> To add a new node to the existing graph. When selected, a new node appears somewhere on the canvas. 
			<br><b>Delete Node</b> To delete a node from the existing graph. When selected, the node next clicked on by you is deleted from the graph. 
			<br><b>Add Edge</b> To add an edge across any two nodes in the graph. After selection, you will have to click on the two nodes you wish to connect to add an edge between them.
			<br><b>Delete Edge</b> To delete an edge from the graph. After selection, you will have to click on the edge you wish to delete from the graph.
			<br><b>Interact BFS</b> To interact with the Breadth First Search algorithm on the graph. When selected, you will be required to select the nodes in sequence as valid under the BFS algorithm, with the website prompting you whenever you perform a wrong step.
			<br><b>Interact DFS</b> To interact with the Depth First Search algorithm on the graph. When selected, you will be required to select the nodes in sequence as valid as valid under the DFS algorithm, with the website prompting you whenever you perform a wrong step.
			<br><b>Clear</b> To reset the existing graph and start from scratch. When selected, the screen is rid of all its contents.
			<br><br>
			The pseudocode panel is enabled whenever an algorithm is selected from the menu, and displays the corresponding pseudocode for your better understanding.
		</h4>
		<p id="search" class="execAction" onclick=closeInstr()>Close</p>
	</div>

	<div id="graphsvg"></div>

	<script src="code_expl.js"></script>
	<script src="graph_data.js"></script>
	<script src="graph_functions.js"></script>
	<script src="graph_matlist.js"></script>
	<script src="graphvis.js"></script>

</body>